<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Layout Basica</title>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/imagen.jpg" alt="">
			</div>
			<section class="post">
				<article>
					<h2>Titulo del articulo</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipiscing elit erat ad eu, ac tellus vulputate pulvinar fames laoreet a sociosqu netus, sem venenatis tincidunt sagittis nulla lectus dictum mi justo. Leo integer ultrices sed parturient elementum tempor ornare magnis vestibulum quam luctus interdum potenti lectus cum eros, molestie turpis blandit tristique facilisis sagittis cubilia venenatis at eget nec enim dignissim ad. Curae nunc taciti faucibus orci ligula feugiat metus morbi, laoreet habitant varius magnis pharetra penatibus litora etiam eros, volutpat nisi ornare auctor nascetur enim dictumst.
					</p>
					<p>
						Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec volutpat, erat vestibulum ad imperdiet sociosqu dignissim eget metus aenean nibh massa risus, mattis senectus sapien proin vehicula varius potenti leo sodales lobortis. Vestibulum ornare volutpat ad nam erat inceptos bibendum, turpis eget pulvinar accumsan egestas purus phasellus, venenatis risus sagittis tempor lacinia vitae. Primis vehicula et neque lacinia vestibulum iaculis nibh justo platea, volutpat nunc tincidunt venenatis vulputate nisi risus tempus rutrum, integer fusce luctus ad conubia malesuada nec posuere.
					</p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">Articulo Destacados</h3>
				<ul>
					<li><a href="#">Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec </a></li>
					<li><a href="#">Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec </a></li>
					<li><a href="#">Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec </a></li>
					<li><a href="#">Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec </a></li>
				</ul>
			</div>
			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>Luctus augue per cum egestas tortor posuere ultrices faucibus mollis nec volutpat, erat vestibulum ad imperdiet sociosqu dignissim eget metus aenean nibh massa risus, mattis senectus sapien proin vehicula varius potenti leo sodales lobortis. Vestibulum ornare volutpat ad nam erat inceptos bibendum, turpis eget pulvinar accumsan egestas purus phasellus, venenatis risus sagittis </p>
			</div>
		</aside>
		<footer>
			<p>Medina Lautaro Leonel - Todos los derechos resevados</p>
		</footer>
	</div>

</body>
</html>